<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/weather.css">
  <link rel="stylesheet" href="/css/crop.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/res.css">
  

  <title>SmartzAgri</title>
</head>
<body>

  <nav class="navbar">
    <div class="brand left">
      <img src="/images/logo.png" alt="logo">
      <strong style="display: flex; justify-content: center; align-items: center; margin-left: 10px;"><a href="/">SmartzAgri</a></strong>
    </div>
    <div class="right">
      <button class="hamburger-menu" onclick="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
      <div class="links">
        <a href="/">Home</a>
        <a href="/crop">Predict crop</a>
        <a href="/weather">Check weather</a>
       <a href="/about">About Us</a>
      </div>
    </div>
  </nav>
  <section style="padding-top: 60px;"></section>
  
