<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/about.css">

  <title>SmartzAgri</title>
</head>
<body>

  <div class="container">
    <nav class="navbar">
      <div class="brand left"><img src="/images/logo.png" alt="logo" ><strong style="display: flex; justify-content: center; align-items: center; margin-left: 10px;">SmartzAgri</strong></div>
      <div class="right">
          <a href="/">Home</a>
          <a href="/crop">Predict crop</a>
          <a href="/userManual">user manual</a>
          <a href="/about">About Us</a>
      </div>
    </nav>

<div class="about-container">
    <h2>About Us</h2>

    <p>Welcome to SmartzAgri, your go-to platform for smart crop suggestions based on advanced Machine Learning models. We believe in revolutionizing agriculture by making informed decisions through technology.</p>

    <p>Our website utilizes Machine Learning algorithms to provide crop recommendations tailored to your soil conditions. Our IoT-enabled soil testing kit ensures accurate soil analysis, helping you make informed decisions for a successful harvest.</p>

    <p>We not only predict the best-suited crop for your farm but also provide detailed cultivation guidelines to maximize your profits. Our goal is to empower farmers with knowledge and technology for sustainable and profitable agriculture.</p>

    <h3>Meet Our Team</h3>

    <div class="team-members">
      <div class="team-member">
        <img src="/images/team/vishal.jpg" alt="Vishal">
        <h4>Vishal</h4>
        <p>Team Leader</p>
      </div>

      <div class="team-member">
        <img src="/images/team/sanjeet.jpg" alt="Sanjeet">
        <h4>Sanjeet</h4>
        <p>Member</p>
      </div>

      <div class="team-member">
        <img src="/images/team/ved.jpg" alt="Ved">
        <h4>Ved</h4>
        <p>Member</p>
      </div>
      
      <div class="team-member">
        <img src="/images/team/twisha.jpg" alt="Twisha">
        <h4>Twisha</h4>
        <p>Member</p>
      </div>
    </div>

  </div>
<%- include('partials/footer') %>