<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- <link rel="stylesheet" href="/css/crop.css"> -->

  <title>SmartzAgri</title>
</head>
<body>

  <div class="container">
    <nav class="navbar">

      <div class="brand left" ><img src="/images/logo.png" alt="logo" ><strong style="display: flex; justify-content: center; align-items: center; margin-left: 10px;">SmartzAgri</strong></div>
      <div class="right">
          <a href="/">Home</a>
          <a href="/crop">Predict crop</a>
          <a href="/userManual">user manual</a>
          <a href="/about">About Us</a>
      </div>
    </nav>

<div class="content">
    <div class="home-container">
      <!-- <h1>Welcome to फसल सुझाव (CropReco)</h1> -->
      <h1 >Empowering farmers with smart agriculture solutions.</h1>
      
      <!-- <p class="tagline" >Empowering Farmers, Cultivating Futures</p> -->
      <!-- <p class="tagline">Empowering farmers with smart agriculture solutions.</p> -->

      <!-- Add more features as needed -->

      <div class="features">
        <div class="feature blurred-overlay">
          <h2>Crop Prediction</h2>
          <p>Discover the most suitable crop to grow in your farm based on various factors like soil composition, climate, and more. <a href="/crop" target="_blank">Try Now</a></p></p>
        </div>

        <div class="feature blurred-overlay">
          <h2>Weather Updates</h2>
          <p>Stay informed about the weather conditions in your region. <a href="https://www.google.com/search?q=weather" target="_blank">Check it on Google Weather.</a></p>
        </div>

        <!-- <div class="feature blurred-overlay">
          <h2>Smart Irrigation</h2>
          <p>Optimize water usage in your fields with our smart irrigation system that considers weather forecasts and soil conditions.</p>
        </div> -->

        <div class="feature blurred-overlay">
          <h2>Market Trends</h2>
          <p>Get insights into market trends to make informed decisions about when and where to sell your crops for the best prices.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>