<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/crop.css">
  <title>Crop Prediction Form</title>
</head>
<body>
  <nav class="navbar">
    <div class="brand">SmartzAgri</div>
    <ul class="nav-list">
      <li><a href="#">Home</a></li>
    </ul>
  </nav>
  
  <h2>The best possible crop is: <%= prediction %></h2>
</body>
</html>
